<h1>New Sock</h1>

<%= form_tag "/socks", method: :post do%>
  <p>Department: <input type="text" name="department"></p>
  <p>Color: <input type="text" name="color"></p>
  <p>Size: <input type="number" name="size"></p>
  <p>Pattern: <input type="text" name="pattern"></p>
  <p><input type="submit" value="submit new sock"></p>
<% end %>